@import url('https://fonts.googleapis.com/css?family=Rozha One:100,200,300,400,500,600,700|Nunito:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    font-family: Rozha One, Helvetica, sans-serif;
}

/* ----------------------------------------HEADER SECTION */

header {
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/bg-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    float: left;
    width: 25%;
    padding-top: 40px;
}

/**ul {
    list-style-type: none;
    padding-top: 50px;
    text-transform: uppercase;
}

ul li {
    display: inline-block;
    padding: 0 5px;
}

ul li a {
    text-decoration: none;
    color: #f5f6fa;
    padding: 5px 20px;
    border: 2px solid #f5f6fa;
    border-radius: 30px;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #f5f6fa;
    color: #000;
    text-decoration: none;
}**/

.intro-text {
    color: #f5f6fa;
}

.my-profession {
    padding-top: 200px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 45px;
    color: #f5f6fa;
}

.fields {
    list-style-type: none;
    padding-top: 180px;
    text-transform: uppercase;
    font-size: 15px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 100px;
    color: #f5f6fa;
}

/* ----------------------------------------TESTIMONIALS SECTION */

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: 5px;
}

.testimonials {
    padding: 40px;
    color: #434343;
    background: #f1f1f1;
    text-align: center;
}

.inner {
    max-width: 12000px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 100px;
    height: 5px;
    background: #82589F;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    margin-top: 20px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial p {
    font-family: Nunito, Helvetica, sans-serif;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: #82589F;
    margin-bottom: 20px;
}

@media screen and (max-width:960px) {
.col {
    flex: 100%;
    max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col {
    flex: 100%;
    max-width: 100%;
}
}

/* ----------------------------------------GET IN TOUCH SECTION */

.bg-color-contact {
    background-color: #82589F;
}

.contact-heading {
    font-family: Rozha One, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #f5f6fa;
}

.contact-subheading {
    font-family: Rozha One, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #f5f6fa;
    margin-top: 35px;
}

.col p {
    font-family: Nunito, Helvetica, sans-serif;
}

.border-two {
    width: 100px;
    height: 5px;
    background: #f5f6fa;
    margin: 20px auto;
}

.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 100%;
}

.form-control {
    margin: 8px;
    font-family: Nunito, Helvetica, sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.button {
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #000;
    border: none;
    color: #f5f6fa;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 134px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
}

.button span {
    font-family: Nunito, Helvetica, sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* ----------------------------------------SERVICE TYPES SECTION */

.service-options {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #e7e8ef;
    color: #82589F;
}

.service-options p {
    font-family: Nunito, Helvetica, sans-serif;
    margin: 0px;
}

.section-padding {
    padding: 50px 20px;
    padding-bottom: 30px;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-family: Rozha One, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section-title p {
    margin-top: 25px;
}

.feature-box {
    gap: 15px;
}

.feature-box:not(:first-child) {
    margin-top: 45px;
}

.feature-icon {
    height: 48px;
    width: 48px;
    background-color: #82589F;
    color: #f5f6fa;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.feature-content h4 {
    font-family: Rozha One, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-img img {
    max-width: 330px;
    margin-bottom: 55px;
    margin-top: 55px;
}

/* ----------------------------------------ABOUT ME SECTION */

.about-area {
    padding-top: 10px;
    background-color: #82589F;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg-working.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 80vh;*/
}

.about-img {
    position: relative;
}

.about-img img {
    width: 100%; 
    margin-top: 120px;
}

.about-text {
    padding-top: 8%;
    padding-bottom: 12%;
}

.about-text h2 {
    color: #f5f6fa;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 35px;
}

.about-text p {
    font-family: Nunito, Helvetica, sans-serif;
    color: #f5f6fa;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.about-text a {
    font-family: Nunito, Helvetica, sans-serif;
    background: #000;
    color: #f5f6fa;
    padding: 7px 15px;
    display: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    text-decoration: none;
}

/* ----------------------------------------FOOTER SECTION */

.footer-top {
    background-color: #000;
    padding: 50px 0;
}

.footer-top h2 {
    color: #f5f6fa;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 25px;
}

.footer-top p, form {
    color: #f5f6fa;
    line-height: 20px;
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.segment-one h2:before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-two h2:before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #f5f6fa;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segment-two ul li a {
    font-family: Nunito, Helvetica, sans-serif;
    color: #f5f6fa;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

.segment-three h2:before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-three a {
    background: #f5f6fa;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
}

.segment-three a i {
    font-size: 18px;
    color: #82589F;
    padding: 9px 10px;
}

.segment-four h2:before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-four form input[type=submit] {
    background: #82589F;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #f5f6fa;
    text-transform: uppercase;
}

.footer-bottom-text {
    text-align: center;
    background: #252525;
    line-height: 50px;
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #f5f6fa;
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width:767px) {
    .md-mb-30 {
        margin-bottom: 30px;
    }
    .footer-top {
        padding: 50px 0;
    }
}