@import url('https://fonts.googleapis.com/css?family=Rozha One:100,200,300,400,500,600,700|Nunito:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    font-family: Rozha One, Helvetica, sans-serif;
}

/* ----------------------------------------HEADER SECTION */

header {
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/bg-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    float: left;
    width: 25%;
    padding-top: 40px;
}

/**ul {
    list-style-type: none;
    padding-top: 50px;
    text-transform: uppercase;
}

ul li {
    display: inline-block;
    padding: 0 5px;
}

ul li a {
    text-decoration: none;
    color: #f5f6fa;
    padding: 5px 20px;
    border: 2px solid #f5f6fa;
    border-radius: 30px;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #f5f6fa;
    color: #000;
    text-decoration: none;
}**/

.intro-text {
    color: #f5f6fa;
}

.my-profession {
    padding-top: 200px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 45px;
    color: #f5f6fa;
}

.fields {
    list-style-type: none;
    padding-top: 180px;
    text-transform: uppercase;
    font-size: 15px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 100px;
    color: #f5f6fa;
}

/* ----------------------------------------TESTIMONIALS SECTION */

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: 5px;
}

.testimonials {
    padding: 40px;
    color: #434343;
    background: #f1f1f1;
    text-align: center;
}

.inner {
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Hyphen Symbol Purple */
.border {
    width: 100px;
    height: 5px;
    background: #82589F;
    margin: 20px auto;
    padding-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    margin-top: 20px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
    margin-right: 10px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial p {
    font-family: Nunito, Helvetica, sans-serif;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: #82589F;
    margin-bottom: 20px;
}

@media screen and (max-width:960px) {
.col {
    flex: 100%;
    max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col {
    flex: 100%;
    max-width: 100%;
}
}

/* ----------------------------------------GET IN TOUCH SECTION */

.bg-color-contact {
    background-color: #c44569;
}

.contact-heading {
    font-family: Rozha One, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #f5f6fa;
}

.contact-subheading {
    font-family: Rozha One, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #f5f6fa;
    margin-top: 35px;
}

.col p {
    font-family: Nunito, Helvetica, sans-serif;
}

/* Hyphen Symbol White 2 */
.border-two {
    width: 100px;
    height: 5px;
    background: #f5f6fa;
    margin: 20px auto;
    padding-top: 10px;
}

.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 100%;
}

/* White Form */
.form-control {
    margin: 8px;
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Form Button */
.button {
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #000;
    border: none;
    color: #f5f6fa;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    padding: 10px 15px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

.button span {
    font-family: Nunito, Helvetica, sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* ----------------------------------------SERVICE TYPES SECTION */

.service-options {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #e7e8ef;
    color: #82589F;
}

.service-options p {
    font-family: Nunito, Helvetica, sans-serif;
    margin: 0px;
}

.section-padding {
    padding: 50px 20px;
    padding-bottom: 30px;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-family: Rozha One, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section-title p {
    margin-top: 25px;
}

.feature-box {
    gap: 15px;
}

.feature-box:not(:first-child) {
    margin-top: 45px;
}

.feature-icon {
    height: 48px;
    width: 48px;
    background-color: #82589F;
    color: #f5f6fa;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.feature-content h4 {
    font-family: Rozha One, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-img img {
    max-width: 330px;
    margin-bottom: 55px;
    margin-top: 55px;
}

/* ----------------------------------------ABOUT ME SECTION */

.about-area {
    padding-top: 10px;
    background-color: #82589F;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg-working.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 80vh;*/
}

/* Hyphen Symbol White 1 */
.border-one {
    width: 100px;
    height: 5px;
    background: #f5f6fa;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 15px;
    padding-top: 10px;
}

.about-img {
    position: relative;
}

.about-img img {
    width: 75%; 
    margin-top: 120px;
    margin-left: 90px;
    margin-bottom: 60px;
}

/* About Me Text */
.about-text {
    padding-top: 8%;
    padding-bottom: 12%;
    margin-left: -15px;
}

/* About Me Title */
.about-text h2 {
    color: #f5f6fa;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 15px;
    margin-left: 15px;
}

/* About Me Text */
.about-text p {
    font-family: Nunito, Helvetica, sans-serif;
    color: #f5f6fa;
    font-size: 18px;
    font-weight: 300;
    margin-right: 15px;
    margin-left: 15px;
}

/* Learn More Button */
.about-text a {
    font-family: Nunito, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #f5f6fa;
    background: #000;
    padding: 10px 30px;
    display: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
}

/* Learn More Button Hover Effect */
.about-text a:hover {
    background-color: #f5f6fa;
    color: #000;
}

/* ----------------------------------------FOOTER SECTION */

.footer-top {
    background-color: #000;
    padding: 50px 0;
}

.footer-top h2 {
    color: #f5f6fa;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 25px;
}

.footer-top p, form {
    color: #f5f6fa;
    line-height: 20px;
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.segment-one h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-two h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #f5f6fa;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segment-two ul li a {
    font-family: Nunito, Helvetica, sans-serif;
    color: #f5f6fa;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

.segment-two a::before {
    content: "»";
    margin-right: 10px;
}

.segment-two a:hover {
    color: #c44569;
}

.segment-three h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-three a {
    background: #f5f6fa;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: -2px;
}

.segment-three a:hover {
    background: #c44569;
}

.segment-three a i:hover {
    color: #f5f6fa;
}

.segment-three a i {
    font-size: 18px;
    color: #82589F;
    padding: 9px 10px;
}

.segment-four h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-four form input[type=email] {
    border: none;
    padding: 3px 15px;
    margin-left: -2px;
    margin-right: 8px;
    color: #000;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 30px;
}

.segment-four form input[type=submit] {
    background: #82589F;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #f5f6fa;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 30px;
}

.segment-four form input[type=submit]:hover {
    background: #c44569;
    color: #f5f6fa;
    font-weight: 500;
}

.footer-bottom-text {
    text-align: center;
    background: #252525;
    line-height: 50px;
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #f5f6fa;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 35px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .footer-top {
        padding-top: 60px;
        padding-bottom: 25px;
    }
}

/* ----------------------------------------SKILLS SECTION */

.skills-section {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    place-items: center;
    background: #f1f1f1;
}

.col-6 {
    display: inline-block;
}

.skills-section h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #443344;
    margin-top: 50px;
}

.skills-bar {
    width: 530px;
    background: #fff;
    border-radius: 30px;
    padding: 25px 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-top: 30px;
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 15px;
    opacity: 0;
    animation: showText1 0.5s 1s linear forwards;
}

/* Symbol 1 */
.skills-bar .bar .info span::before {
    content: "❄";
    margin-right: 10px;
}

@keyframes showText1 {
    100% {
        opacity: 1;
    }
}

/* Bars */
.skills-bar .bar .progress-line {
    position: relative;
    height: 15px;
    width: 100%;
    background: #e7e8ef;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                      0px 1px rgba(255, 255, 255, 0.08);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #82589F;
    position: absolute;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.skill-1 span {
    width: 95%;
}

.progress-line.skill-2 span {
    width: 90%;
}

.progress-line.skill-3 span {
    width: 80%;
}

.progress-line.skill-4 span {
    width: 90%;
}

.progress-line.skill-5 span {
    width: 90%;
}

.progress-line.skill-6 span {
    width: 90%;
}

.progress-line.skill-7 span {
    width: 90%;
}

.progress-line.skill-8 span {
    width: 90%;
}

.progress-line.skill-9 span {
    width: 90%;
}

.progress-line.skill-10 span {
    width: 90%;
}

.progress-line.skill-11 span {
    width: 90%;
}

.progress-line.skill-12 span {
    width: 90%;
}

.progress-line.skill-13 span {
    width: 90%;
}

.progress-line.skill-14 span {
    width: 90%;
}

.progress-line.skill-15 span {
    width: 90%;
}

.progress-line.skill-16 span {
    width: 90%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

/* Indicators */
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -25px;
    color: #f5f6fa;
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.skill-1 span::after {
    content: "95%";
}

.progress-line.skill-2 span::after {
    content: "90%";
}

.progress-line.skill-3 span::after {
    content: "80%";
}

.progress-line.skill-4 span::after {
    content: "90%";
}

.progress-line.skill-5 span::after {
    content: "90%";
}

.progress-line.skill-6 span::after {
    content: "90%";
}

.progress-line.skill-7 span::after {
    content: "90%";
}

.progress-line.skill-8 span::after {
    content: "90%";
}

.progress-line.skill-9 span::after {
    content: "90%";
}

.progress-line.skill-10 span::after {
    content: "90%";
}

.progress-line.skill-11 span::after {
    content: "90%";
}

.progress-line.skill-12 span::after {
    content: "90%";
}

.progress-line.skill-13 span::after {
    content: "90%";
}

.progress-line.skill-14 span::after {
    content: "90%";
}

.progress-line.skill-15 span::after {
    content: "90%";
}

.progress-line.skill-16 span::after {
    content: "90%";
}

/* ----------------------------------------SERVICES FIELDS */

.services-fields {
    background: #82589F;
    color: #f5f6fa;
}