@import url('https://fonts.googleapis.com/css?family=Neucha:100,200,300,400,500,600,700|Special Elite:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    font-family: Neucha, Helvetica, sans-serif;
}

/* ----------------------------------------HEADER SECTION */

header {
    font-size: 18px;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/bg-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    float: left;
    width: 25%;
    padding-top: 40px;
}

/**ul {
    list-style-type: none;
    padding-top: 50px;
    text-transform: uppercase;
}

ul li {
    display: inline-block;
    padding: 0 5px;
}

ul li a {
    text-decoration: none;
    color: #f5f6fa;
    padding: 5px 20px;
    border: 2px solid #f5f6fa;
    border-radius: 30px;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #f5f6fa;
    color: #000;
    text-decoration: none;
}**/

.intro-text {
    color: #f5f6fa;
}

.my-profession {
    padding-top: 200px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 45px;
    color: #f5f6fa;
}

.fields {
    list-style-type: none;
    padding-top: 180px;
    text-transform: uppercase;
    font-size: 15px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 100px;
    color: #f5f6fa;
}

/* --------------------------------------------- ABOUT ME SECTION */

.about-area {
    padding-top: 10px;
    background-color: #82589F;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg-working.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 80vh;*/
}

/* Hyphen Symbol White 1 */
.border-one {
    width: 100px;
    height: 5px;
    background: #f5f6fa;
    margin: 20px 0 40px 15px;
    padding-top: 10px;
}

.about-img {
    position: relative;
}

.about-img img {
    width: 75%; 
    margin: 120px 0 60px 90px;
}

/* About Me Text */
.about-text {
    padding-top: 8%;
    padding-bottom: 12%;
    margin-left: -15px;
}

/* About Me Title */
.about-text h2 {
    color: #f5f6fa;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 15px; /* FIX MARGIN HERE*/
    margin-left: 15px;
}

/* About Me Text */
.about-text p {
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #f5f6fa;
    font-size: 18px;
    font-weight: 300;
    margin-right: 15px; /* FIX MARGIN HERE*/
    margin-left: 15px;
}

/* Learn More Button */
.about-text a {
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: #f5f6fa;
    background: #000;
    padding: 10px 20px;
    display: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    text-decoration: none;
    margin-right: 15px; /* FIX MARGIN HERE*/
    margin-left: 15px;
}

/* Learn More Button Hover Effect */
.about-text a:hover {
    background-color: #f5f6fa;
    color: #000;
}

/* --------------------------------------------- SERVICES TYPES SECTION √ */

/* SECTION STYLING */
.service-options {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #e7e8ef;
    color: #82589F;
}

/* SECTION TITLE */
.section-title h2 {
    font-family: Neucha, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* INTRO PARAGRAPH */
.section-title p {
    margin-top: 25px;
    font-family: Special Elite, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/* SECTION SUBTITLES */
.feature-content h3 {
    font-family: Neucha, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* ROW PARAGRAPHS */
.feature-content p {
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0px;
}

.section-padding {
    padding: 50px 20px 40px 20px;
}

.section-title {
    margin-bottom: 60px;
}

.feature-box {
    gap: 15px;
}

.feature-box:not(:first-child) {
    margin-top: 45px;
}

/* SECTION ICONS */
.feature-icon {
    height: 50px;
    width: 50px;
    background-color: #82589F;
    color: #f5f6fa;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.feature-icon:hover {
    background: #000;
}

/* SECTION IMAGE */
.feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION IMAGE */
.feature-img img {
    max-width: 330px;
    margin: 55px 0 55px 0;
}

/* --------------------------------------------- SERVICES FIELDS SECTION √ */

/* SECTION STYLING */
.services-fields {
    background: #82589F;
    color: #f5f6fa;
    padding-bottom: 10px;
}

/* INTRO STYLING */
.services {
    padding-top: 50px;
    margin-bottom: 50px;
}

/* SECTION TITLE */
.services h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
}

/* INTRO PARAGRAPH */
.services p {
    max-width: 550px;
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    margin: 30px auto 0;
}

/* SECTION BOXES */
.service-box {
    color: #434343;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    position: relative;
    background: #e7e8ef;
    margin: 0 10px 50px 10px;
    padding: 30px;
}

/* SECTION SUBTITLES */
.service-box h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    color: #82589F;
    line-height: 1;
    margin-bottom: 15px;
}

/* BOX PARAGRAPHS */
.service-box p {
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #82589F;
}

/* SECTION ICONS */
.service-box i {
    color: #82589F;
    font-size: 50px;
    margin-bottom: 20px;
}

/* LINK STYLING */
.service-box a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: 20px;
    background-color: #82589F;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* LINK HOVER EFFECT */
.service-box a:hover {
    background: #000;
}

/* ICON STYLING */
.service-box a .fa {
    color: #f5f6fa;
    font-size: 22px;
    padding: 16px 0 0 2px;
}

/* --------------------------------------------- SERVICES BY FIELDS SECTION √ */

/* SECTION STYLING*/ 
.specific-services {
    background: #e7e8ef;
    padding-bottom: 50px;
}

/* LAYOUT SPACING */
.services-item {
    padding: 0 8px;
}

.content-spacing .row {
    margin-top: -20px;
}

/* INTRO TITLE */
.section-title .section-main-title {
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
}

/* INTRO SUBTITLE */
.section-title .section-subtitle {
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
}

/* SECTION ICONS */
.services-item i {
    color: #82589F;
    font-size: 50px;
    line-height: 45px;
    float: left;
}

/* ICONS SPACING */
.services-single-item {
    margin-left: 70px;
}

/* SECTION PARAGRAPHS */
.services-single-item p {
    font-size: 16px;
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 15px;
}

/* SECTION SUBTITLE */
.services-heading {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    position: relative;
    font-weight: 600;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

/* HYPHEN SYMBOL PURPLE */
.services-heading::after {
    content:'';
    width: 30px;
    height: 4px;
    background: #82589F;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* SPACING BETWEEN SERVICES */
.gaps {
    margin-top: 30px;
}

/* --------------------------------------------- TESTIMONIALS SECTION √ */

/* SECTION STYLING */
.testimonials {
    background: #f1f1f1;
    color: #434343;
    text-align: center;
    padding: 40px;
}

/* CONTENT STYLING */
.inner {
    max-width: 1140px;
    overflow: hidden;
    margin: auto;
    padding: 0 20px;
}

/* SECTION TITLE */
.inner h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    margin-top: 5px;
}

/* HYPHEN SYMBOL PURPLE */
.border {
    background: #82589F;
    width: 100px;
    height: 5px;
    border: none;
    margin: 20px auto;
    padding-top: 10px;
}

/* ROW STYLING */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* COLUMN STYLING */
.col { /* FIX 'GET IN TOUCH' FORM */
    flex: 33%;
    max-width: 33%;
    box-sizing: border-box;
    padding: 15px;
}

/* BOX CONTENT */
.testimonial {
    background: #fff;
    border-radius: 30px;
    margin: 20px 10px 15px 0;
    padding: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* SECTION IMAGES */
.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dotted #82589F;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* SECTION PARAGRAPH */
.testimonial p {
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

/* SECTION SUBTITLE */
.name {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 20px 0;
}

/* SECTION ICONS */
.stars {
    color: #82589F;
    margin-bottom: 20px;
    font-size: 25px;
}

/* RESPONSIVENESS */

@media screen and (max-width:960px) {
.col {
    flex: 100%;
    max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col {
    flex: 100%;
    max-width: 100%;
}
}

/* ----------------------------------------GET IN TOUCH SECTION */

/* SECTION STYLING */
.bg-color-contact {
    background-color: #c44569;
}

/* SECTION TITLE */
.contact-heading {
    text-transform: uppercase;
    letter-spacing: 4Px;
    font-size: 40px;
    margin: 25px 0 20px 0;
    color: #f5f6fa;
}

/* SECTION SUBTITLE */
.contact-subheading {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #f5f6fa;
    margin-top: 35px;
}

/* HYPHEN SYMBOL WHITE 2 */
.border-two {
    width: 100px;
    height: 5px;
    background: #f5f6fa;
    margin: 20px auto;
    border: none;
    padding-top: 10px;
}

/* FORM STYLING */
.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 100%;
}

/* INNER FORM */
.form-control {
    margin: 8px;
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* MAIN FORM STYLING */
.container-fluid .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* FORM CTA BUTTON */
.button {
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #000;
    border: none;
    color: #f5f6fa;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 12px 20px 8px 20px;
    width: 124px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 20px;
}

.button span {
    font-family: Special Elite, Helvetica, sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background: #f5f6fa;
    color: #000;
}

/* ----------------------------------------FOOTER SECTION */

.footer-top {
    background-color: #000;
    padding: 50px 0;
}

.footer-top h2 {
    color: #f5f6fa;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 25px;
}

.footer-top p, form {
    color: #f5f6fa;
    line-height: 20px;
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
}

.segment-one h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-two h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #f5f6fa;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segment-two ul li a {
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #f5f6fa;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

.segment-two a::before {
    content: "»";
    margin-right: 10px;
}

.segment-two a:hover {
    color: #c44569;
}

.segment-three h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-three a {
    background: #f5f6fa;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: -2px;
}

.segment-three a:hover {
    background: #c44569;
}

.segment-three a i:hover {
    color: #f5f6fa;
}

.segment-three a i {
    font-size: 18px;
    color: #82589F;
    padding: 9px 10px;
}

.segment-four h2::before {
    content: '|';
    color: #82589F;
    padding-right: 5px;
}

.segment-four form input[type=email] {
    border: none;
    padding: 3px 10px;
    padding-top: 5px;
    margin-left: -2px;
    margin-right: 5px;
    color: #000;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 30px;
}

.segment-four form input[type=submit] {
    background: #82589F;
    border: none;
    padding: 3px 15px;
    padding-top: 5px;
    margin-left: -5px;
    color: #f5f6fa;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 30px;
}

.segment-four form input[type=submit]:hover {
    background: #c44569;
    color: #f5f6fa;
    font-weight: 500;
}

.footer-bottom-text {
    text-align: center;
    background: #252525;
    line-height: 50px;
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
    color: #f5f6fa;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 35px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .footer-top {
        padding-top: 60px;
        padding-bottom: 25px;
    }
}

/* ----------------------------------------SKILLS SECTION */

.skills-section {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    place-items: center;
    background: #f1f1f1;
}

.col-6 {
    display: inline-block;
}

.skills-section h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #443344;
    margin-top: 50px;
}

.skills-bar {
    width: 530px;
    background: #fff;
    border-radius: 30px;
    padding: 25px 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-top: 30px;
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-family: Special Elite, Helvetica, sans-serif;
    font-size: 15px;
    opacity: 0;
    animation: showText1 0.5s 1s linear forwards;
}

/* Symbol 1 */
.skills-bar .bar .info span::before {
    content: "❄";
    margin-right: 10px;
}

@keyframes showText1 {
    100% {
        opacity: 1;
    }
}

/* Bars */
.skills-bar .bar .progress-line {
    position: relative;
    height: 15px;
    width: 100%;
    background: #e7e8ef;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                      0px 1px rgba(255, 255, 255, 0.08);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #82589F;
    position: absolute;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.skill-1 span {
    width: 95%;
}

.progress-line.skill-2 span {
    width: 90%;
}

.progress-line.skill-3 span {
    width: 80%;
}

.progress-line.skill-4 span {
    width: 90%;
}

.progress-line.skill-5 span {
    width: 90%;
}

.progress-line.skill-6 span {
    width: 90%;
}

.progress-line.skill-7 span {
    width: 90%;
}

.progress-line.skill-8 span {
    width: 90%;
}

.progress-line.skill-9 span {
    width: 90%;
}

.progress-line.skill-10 span {
    width: 90%;
}

.progress-line.skill-11 span {
    width: 90%;
}

.progress-line.skill-12 span {
    width: 90%;
}

.progress-line.skill-13 span {
    width: 90%;
}

.progress-line.skill-14 span {
    width: 90%;
}

.progress-line.skill-15 span {
    width: 90%;
}

.progress-line.skill-16 span {
    width: 90%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

/* Indicators */
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -27px;
    color: #f5f6fa;
    font-family: Neucha, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.skill-1 span::after {
    content: "95%";
}

.progress-line.skill-2 span::after {
    content: "90%";
}

.progress-line.skill-3 span::after {
    content: "80%";
}

.progress-line.skill-4 span::after {
    content: "90%";
}

.progress-line.skill-5 span::after {
    content: "90%";
}

.progress-line.skill-6 span::after {
    content: "90%";
}

.progress-line.skill-7 span::after {
    content: "90%";
}

.progress-line.skill-8 span::after {
    content: "90%";
}

.progress-line.skill-9 span::after {
    content: "90%";
}

.progress-line.skill-10 span::after {
    content: "90%";
}

.progress-line.skill-11 span::after {
    content: "90%";
}

.progress-line.skill-12 span::after {
    content: "90%";
}

.progress-line.skill-13 span::after {
    content: "90%";
}

.progress-line.skill-14 span::after {
    content: "90%";
}

.progress-line.skill-15 span::after {
    content: "90%";
}

.progress-line.skill-16 span::after {
    content: "90%";
}

/* ----------------------------------------QUALIFICATIONS */

/*.studies {
    background-color: #e7e8ef;
    color: #82589F;
    margin: 0;
    padding-top: 40px;
}

.studies h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size: 40px;
}

.intro-studies p {
    font-family: Poppins, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

.history-items {
    margin-bottom: 60px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    color: #82589F;
    line-height: 0.5;
}

.timeline-item {
    padding: 4em 1em 0em 2em;
    position: relative;
    border-left: 1px solid;
    margin-right: 50px;
    margin-left: 50px;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
}

.timeline-item h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #82589F;
}

.timeline-item img {
    width: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
}*/

/* ----------------------------------------QUALIFICATIONS REAL */

.qualifications {
    box-sizing: border-box;
    background: #e7e8ef;
    color: #82589F;
    padding-bottom: 60px;
}

.qualifications .row {
    max-width: 1050px;
    margin: 0 auto; 
}

.intro-timeline h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}

.intro-timeline p {
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 40px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.timeline {
    background: #e7e8ef;
    max-width: 700px; /* IMPORTANTE */
    margin: 0 auto;
}

.content h2 {
    font-size: 30px;
    letter-spacing: 2px;
}

.content h3 {
    font-size: 23px;
    /*text-transform: uppercase;*/
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 700;
}

.content p {
    font-size: 15px;
    font-family: Special Elite, Helvetica, sans-serif;
    line-height: 1.3;
    letter-spacing: 1px;
}

.timeline-body {
    position: relative;
    background-color: #e7e8ef;
    margin-left: 100px;
    border-radius: 0 8px 8px 0;
    padding: 2px 0;
}

.timeline-body::after {
    content: '';
    width: 3px;
    height: 100%;
    background-color: #82589F;
    position: absolute;
    left: -4px;
    top: 0;
}

.timeline-item {
    position: relative;
}

.timeline-item::after {
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 3px solid #82589F;
    background-color: #e7e8ef;
    position: absolute;
    left: -14px;
    top: 0px;
    z-index: 9;
}

.time {
    position: absolute;
    left: -120px;
    top: 0;
    width: 90px;
    border-radius: 50%;
    border: 3px dashed #82589F;
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);*/
}

.content {
    margin: 30px;
    padding-bottom: 10px;
    border-bottom: 3px dashed #82589F;
}

.title {
    margin-bottom: 10px;
}

/* --------------------------------------------- WORK EXPERIENCE SECTION √ */

/* SECTION STYLING */
.intro-work {
    background: #f1f1f1;
    color: #434343;
    padding-top: 30px;
    place-items: center;
}

/* INTRO TITLE */
.intro-work h2 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 30px;
}

/* INTRO PARAGRAPH */
.intro-work p {
    font-family: Special Elite, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    max-width: 550px;
    margin: auto;
    padding: 15px 0 30px 0;
}

/* CONTENT STYLING */
.wrapper {
    display: flex;
    padding-bottom: 30px;
    margin: auto;
    align-items: center;
}

/* LIST STYLING */
.wrapper ul {
    list-style: none;
    width: 700px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 15px;
}

/* COMPANIES STYLING */
.wrapper ul li {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 0 21px 50px 21px; 
    position: relative;
    cursor: pointer;
    text-align: center;
}

/* SECTION LOGOS */
.wrapper ul li img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100px;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* CHAT ICON STYLING */
.wrapper ul li::before {
    content: attr(data-tooltip);
    width: 120px;
    height: 45px;
    background: #82589F;
    color: #f5f6fa;
    position: absolute;
    top: -70px;
    left: -24px;
    border-radius: 8px;
    line-height: 50px;
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

/* CHAT ICON TAIL STYLING */
.wrapper ul li::after {
    content: '';
    position: absolute;
    top: -25px;
    left: 20px;
    border-top: 15px solid #82589F;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    opacity: 0;
    transition: all 0.5s ease;
}

/* HOVER EFFECT */
.wrapper ul li:hover::before,
.wrapper ul li:hover::after {
    opacity: 1;
    transition: all 0.5s ease;
}

/* --------------------------------------------- COMMUNITIES SECTION √ */

/* SECTION STYLING */
.communities {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    width: 100%;
    /*height: 100vh;*/
    background: #82589F;
    padding-top: 60px;
    padding-bottom: 60px;
}

.client-wrap {
    width: 90%;
    height: auto;
    text-align: center;
    max-width: 750px;
}

/* INTRO TITLE */
.client-wrap h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #f5f6fa;
    text-align: center;
    letter-spacing: 4px;
}

/* INTRO PARAGRAPH */
.client-wrap p {
    font-size: 18px;
    color: #f5f6fa;
    text-align: center;
    font-family: Special Elite, Helvetica, sans-serif;
    letter-spacing: 1px;
    max-width: 550px;
    margin: auto;
    padding: 10px 0 50px 0;
}

/* CONTENT STYLING */
.client-in {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

/* LIST CONTENT STYLING */
.client-in ul {
    padding: 0;
    margin: 0;
}

/* LIST ITEMS STYLING */
.client-in ul li {
    list-style: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 7px; /*space between logos*/
    margin-bottom: 5px;
    transition: .5s;
}

/* LOGOS STYLING */
.client-in ul li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* HOVER EFFECT */

.client-in ul li img:nth-child(1) {
    transform: translateY(0);
    transition: .5s;
}

.client-in ul li img:nth-child(2) {
    transform: translateY(0);
    transition: .5s;
}

.client-in ul li:hover img:nth-child(1) {
    transform: translateY(-100%);
    transition: .5s;
}

.client-in ul li:hover img:nth-child(2) {
    transform: translateY(-100%);
    transition: .5s;
}

/* ---------------------------------------- RECOMMENDED BOOKS SECTION */

.books-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    background: #f1f1f1;
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-top: 180px;
    margin-bottom: 180px;
}

.card-image {
    grid-area: image;
    background: url(../images/inspired-img.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .author {
    color: #434343;
    font-size: 16px;
}

.card-text h3 {
    color: #82589F;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 2px;
}

.card-text p {
    color: #434343;
    font-family: Special Elite, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #82589F;
    font-family: Special Elite, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.card-stats .stat1, .stat2, .stat3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #f5f6fa;
}

.card-stats .value {
    font-size: 20px;
}

.card-stats a {
    text-decoration: none;
    color: #f5f6fa;
}

.card-stats .stat1:hover {
    background: #000;
    color: #f5f6fa;
    border-bottom-left-radius: 15px;
}

.card-stats .stat2:hover {
    background: #000;
    color: #f5f6fa;
}

.card-stats .stat3:hover {
    background: #000;
    color: #f5f6fa;
    border-bottom-right-radius: 15px;
}